* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e0f7fa; /* Cor de fundo suave */
    color: #333;
}

header {
    background: #00796b; /* Verde escuro */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 150px; /* Ajuste o tamanho da logo */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff; /* Fundo branco para as seções */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.imagem-container {
    text-align: center; /* Centraliza a imagem dentro do contêiner */
    margin-top: 20px; /* Adiciona um espaço acima da imagem */
}

.imagem-lixos {
    max-width: 80%; /* Limita a largura máxima da imagem a 80% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border: 2px solid #00796b; /* Borda verde escura */
    border-radius: 5px; /* Borda arredondada */
}

#criadores {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    text-align: center;
}

#criadores h2 {
    color: #33691e;
    margin-bottom: 20px;
}

.criadores-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.criador {
    width: 200px;
    text-align: center;
}

.criador img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.criador h3 {
    margin-top: 10px;
    color: #2e7d32;
}

.criador p {
    font-size: 14px;
    color: #555;
}


footer {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha verticalmente */
    padding: 20px;
    background: #00796b;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .footer-content {
    text-align: center; /* Centraliza o texto dentro da div */
}

footer .footer-content p {
    margin: 8px 0; /* Ajusta o espaçamento entre as linhas */
}

footer .ancora {
    position: absolute;
    right: 20px; /* Posiciona a âncora bem na direita */
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background: #00796b; /* Botão verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #004d40; /* Efeito hover para o botão */
}

form textarea{
    resize: none; 
	
}


